<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/food"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/food"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.Login"
        tools:targetApi="31">
        <activity
            android:name=".ShowActivity"
            android:exported="false" />
        <activity
            android:name=".MyDishActivity"
            android:exported="false" />
        <activity
            android:name=".MyCommentsActivity"
            android:exported="false" />
        <activity
            android:name=".PostDishActivity"
            android:exported="false" />
        <activity
            android:name=".DetailActivity"
            android:exported="false"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.Login" />
        <activity
            android:name=".ScrollActivity"
            android:exported="false" />
        <activity
            android:name=".DetailActivity2"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>